@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

.navbar .link-list {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
    margin: auto !important;
}

.link-list .link-item.active a {
    color: #007AFF;
}

.link-list .link-item a:hover {
    color: #007AFF;
}

.link-list .link-item a {
    transition: .3s all;
    font-weight: 450;
    font-size: 1.2rem;
    font-family: poppins;
    color: #A6A6A6;
}

.contact-us {
    background-color: #007AFF;
    border-radius: 12px;
    padding: .5rem 1.7rem;
    cursor: pointer;
    transition: .3s all;
    border: 1px solid #007AFF;
    margin-right: 2rem;
}

.contact-us a {
    color:black;
    font-weight: 400;
    font-size: 1.2rem;
}

.contact-us:hover {
    background: none;
    border: 1px solid #007AFF;
}

.contact-us:hover a {
    color: #007AFF !important;
}
.container{
    margin: 1.8rem 1.8rem;
}

.profilbild{
    border-radius: 5rem;
    width: 40px;
    margin-top: 8px;
    cursor: pointer;
}


/* UPLOAD BOARD */




/* COMMENT BOARD */
.comments-container{
    display: flex;
}
.card{
    display: flex;
    flex-direction: row;
}
